.emailList{
    flex: 1;
    overflow: scroll;
}

.emailList::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.emailList__settings{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}

.emailList__sections{
    position: sticky;
    top: 0;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}

.emailList_list {
    padding-bottom: 20%;
}